.section-404 {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__text {
		@include text-20-light;
		margin-bottom: 27px;

		@include desktop() {
			@include h3-40-light;
			margin-bottom: 27px;
		}
	}

	&__title {
		@include text-50-light;
		margin-bottom: 42px;
		text-transform: uppercase;

		@include desktop() {
			margin-bottom: 42px;
			font-size: 215px;
			line-height: 1;
			letter-spacing: .04em;
		}
	}

	&__back-link {
		min-width: 200px;
	}
}
