include mixins/svg
include mixins/picture
include mixins/animated-line

include common-blocks/button
include common-blocks/header
include common-blocks/fixed-nav
include common-blocks/footer
include common-blocks/apartment-data
include common-blocks/contacts-form
