html
	head
		title Page list
	body
		ul
			li
				a(href="index.html") Main page
			li
				a(href="about-us.html") About us +
			li
				a(href="contacts-us.html") Contact us +
			li
				a(href="faq.html") FAQ +
			li
				a(href="gallery1.html") Gallery 1
			li
				a(href="gallery2.html") Gallery 2
			li
				a(href="apartments.html") Apartments +
			li
				a(href="apartment.html") Apartment +
			li
				a(href="blog.html") Blog +
			li
				a(href="article.html") Article +
			li
				a(href="404.html") 404 +
