$color-black: #0f0f0f;
$color-white: #fff;
$color-transparent: rgba(#fff, 0);

$color-gray-dark: #5F5F5F;
$color-gray-medium: #B3B3B3;
$color-gray-light: #F1F1F1;

$color-beige: #E9EAED;
$color-beige2: #808490;

$color-graphite: #353535;
